@import "bootstrap";
@import "bootstrap-sprockets";

body {
  padding-top: 70px;
  margin-left: 100px;
  margin-right: 100px;
}

body{
  background: url(http://www.bjdijiao.com/uploads/allimg/121126/2-121126134431610.jpg);
  background-position: center 0;
  background-repeat: no-repeat;
  background-attachment: fixed;

  -webkit-background-size: cover;
  background-size: cover;
}

/* Users index */
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}
span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}


html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 30px;
}


/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.8em;
  color: skyblue;
  letter-spacing: 1px;
  padding-top: 9px;
  font-weight: bold;
}
#sub_logo {
  float: left;
  margin-top: 20px;
  color: lightskyblue;
}


/*img*/

/*img {
  display: block;
  width: 200px;
  height: 200px;
  margin-top: 30px;
  text-align: center;
}*/



/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}



/* footer */

footer {

  margin-top: 100px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;

  a {
    color: #222;
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

input, select, .uneditable-input {
  border: 1px solid #bbb;
  width: auto;
  margin-bottom: 15px;
  @include box_sizing;
}

textarea {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.navbar{
  background-color: darkblue;
}




*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: #c0865e;
  &:hover {
    color: #845534;
  }
}


form {
  .error {
    margin: 5px 0 9px 0;
    color: #DB8A14;
  }
  * {
    &:focus {
      outline: none;
    }
  }
  input {
    height: auto;
    width: auto;
    padding: 10px 12px;
    color: #555;
  }
  textarea {
    height: 100px;
    width: 90%;
    padding: 10px 10px;
    color: #555;
  }
  label {
    display: inline-block;
    margin-bottom: 5px;
  }
  dd {
    margin: 0;
  }
}

.datetime {
  color: darkorchid;
}
.username {
  text-align: center;
}