<footer class="main-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="widget">
          <h4 class="title">友情链接</h4>
          <div class="content friend-links">
            <a href="http://www.ucas.ac.cn/" title="中国科学院大学" >中国科学院大学</a>
            <a href="http://sep.ucas.ac.cn/" title="中国科学院大学教务平台">中国科学院大学教务平台</a>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="widget">
          <h4 class="title">我们用到的技术</h4>
          <div class="content tag-cloud">
            <a href="http://guides.ruby-china.org/" title="Ruby on rails">Ruby on rails中文站点</a>
            <a href="http://www.runoob.com/ruby/ruby-tutorial.html" title="Ruby">Ruby</a>
            <a href="http://www.bootcss.com/" title="Bootstrap中文网">Bootstrap</a>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="widget">
          <h4 class="title">建站平台</h4>
          <div class="content friend-links">
            <a href="www.heroku.com" title="heroku">heroku</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<div class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <span>Copyright &copy; <a href="#">友课网</a></span>
      </div>
    </div>
  </div>
</div>